@page 
@model WebApp_ASP_Pluralsight.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" placeholder="Search..." />
            <span class="input-group-btn">
                <button class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Localização</th>
            <th>Tipo de cozinha</th>
            <th>Detalhes</th>
            <th>Editar</th>
        </tr>
    </thead>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.cuisine</td>

            <td>
                <a class="btn btn-light"
                   asp-page="./Details"
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-search"></i>
                </a>
            </td>

            <td>
                <a class="btn btn-light"
                   asp-page="./Edit"
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>

<!--<div>@Model.Message</div>-->
